@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

#mobile-menu a {
  display: block;
}

@media (max-width: 768px) {
  header .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
